.example-spacer {
    flex: 1 1 auto;
  }

  .space {
    width: 10px;
    height: auto;
    display: inline-block;

  }
  .left{
    margin-left:10px;
  }
  .search-spacer{
 margin-left:40%;
  }
  .icon{
    border:2px solid black;
    margin-left: 5px;
    
    
  }
.user{
  font-size:.8rem;
}
  